asgiref==3.8.1
beautifulsoup4==4.12.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
crispy-bootstrap4==2024.1
cryptography==42.0.5
defusedxml==0.7.1
Django==5.0.3
django-allauth==0.61.1
django-bootstrap4==24.1
django-crispy-forms==2.1
django-ranged-response==0.2.0
django-tinymce==3.7.1
django-widget-tweaks==1.5.0
fontawesome==5.10.1.post1
fontawesome-free==5.15.4
fontawesomefree==6.5.1
gunicorn==21.2.0
idna==3.6
oauthlib==3.2.2
packaging==24.0
pillow==10.2.0
pycparser==2.21
PyJWT==2.8.0
python3-openid==3.2.0
requests==2.31.0
requests-oauthlib==2.0.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1