{% extends 'base.html'%}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Quizzes
{% endblock %}

{% block page_header_title %}
   Table
{% endblock %}

{% block form_breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">
    Question and Option table
</li>
{% endblock %}

{% block content %}

<div class="pd-20 card-box mb-30">
    <div class="clearfix mb-20">
        <div class="pull-left">
            <h4 class="text-blue h4">Questions and options</h4>
            <p>
               
            </p>
        </div>
        <div class="pull-right">
            <a href="{% url 'quiz:create-quiz' %}" class="bg-light-blue btn text-blue weight-500"><i class="ion-plus-round"></i> Add</a>
        </div>
    </div>
    
            <div class="tab">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active text-blue" data-toggle="tab" href="#question" role="tab" aria-selected="true">Questions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-blue" data-toggle="tab" href="#option" role="tab" aria-selected="false">Options</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link text-blue" data-toggle="tab" href="#contact" role="tab" aria-selected="false">Contact</a>
                    </li> -->
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="question" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Quiz</th>
                                        <th scope="col">Question</th>
                                        <th scope="col">Created at</th>
                                        <th scope="col">Updated at</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sub in object_list %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{ sub.quiz }}</td>
                                        <td>{{ sub.text }}</td>
                                        <td>{{ sub.created_at }}</td>
                                        <td>{{ sub.updated_at }}</td>
                                        <td class="d-flex justify-content-end"><a href="{% url 'quiz:quesans-update' sub.id %}" class="btn mr-2 btn-primary">
                                            <i class="icon-copy dw dw-edit1"></i> update</a>
                                            <form action="{% url 'quiz:question-delete' sub.id %}" method="post">
                                                {% csrf_token %}
                                                <!-- <input type="submit" class="btn mb-10 btn-primary " name="sub_id" value ="delete" > -->
                                               <button type="submit" class="btn btn-danger">
                                                <i class="icon-copy dw dw-cancel">
                                                </i> delete
                                                </button>
                                          </form>  
                                         </td>
                                         {% empty %}
                                        <tr><td colspan="5" class="text-center">Currently no Data Available</td></tr>
                                    </tr>              
                                        {% endfor %}
                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                     <!-- ANSWERS -->
                    <div class="tab-pane fade" id="option" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Question</th>
                                        <th scope="col">Options</th>
                                        <th scope="col"></th>
                                        <!-- <th scope="col">Tag</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sub in object_list %}
                                    <tr>
                                        <th scope="row">{{forloop.counter}}</th>
                                        <td>{{ sub.text }}</td>
                                        <td>
                                            {% for opt in sub.answers.all %}
                                        <ul>
                                            <li>
                                                ({{forloop.counter}})    {{ opt.option }}
                                            </li>
                                        </ul>
                                            {% endfor %}
                                        </td>
                                        <td class="d-flex "><a href="{% url 'quiz:quesans-update' sub.id %}" class="btn mr-2 btn-primary">
                                            <i class="icon-copy dw dw-edit1"></i> update</a>
                                            <form action="{% url 'quiz:question-delete' sub.id %}" method="post">
                                                {% csrf_token %}
                                                <!-- <input type="submit" class="btn mb-10 btn-primary " name="sub_id" value ="delete" > -->
                                               <button type="submit" class="btn btn-danger">
                                                <i class="icon-copy dw dw-cancel">
                                                </i> delete
                                                </button>
                                          </form>  
                                         </td>
                                         {% empty %}
                                        <tr><td colspan="5" class="text-center">Currently no Data Available</td></tr>
                                    </tr>              
                                        {% endfor %}
                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                   
                    </div>
                </div>
            
    
</div>

{% endblock %}
<!-- add sweet alert js & css in footer -->
