{% extends 'registration/base.html' %}
{% load static %}
{% load widget_tweaks %}

  {% block title %}
  Home
  {% endblock %}

		
  {% block content %}
  <style>
    body {
    background: #fff;
}
  </style>

  <div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <h1 class="display-4 font-weight-bold">Quizte : </h1><p class="display-4">Ignite Your Knowledge Creatively</p>
                     <p class="banner_text"> Test the knowledge in an interactive environment. Dive in and let the learning begin! </p>
                     <div class="btn_main">
                        <button type="button" class="btn btn-danger"><a href="{% url 'usrs:register' %}" style="color: #fff;">Lets Start<img src="{% static 'vendors/images/chevron-right.svg' %}" style="color: #fff;"></a></button>
                     </div>
            </div>
            <div class="col-md-6">
                <div>
                   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                      <ol class="carousel-indicators">
                         <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                         <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                         <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      </ol>
                      <div class="carousel-inner">
                         <div class="carousel-item active">
                            <img class="d-block w-100" src="{% static 'vendors/images/Online Learning.jpg' %}" alt="First slide">
                         </div>
                         <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'vendors/images/Learning automation.jpg' %}" alt="Second slide">
                         </div>
                         <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'vendors/images/Online Classroom.jpg' %}" alt="Third slide">
                         </div>
                      </div>
                   </div>
                </div>
             </div>
            
        </div>
    </div>
</div>
{% endblock %}